.hbox {
    @apply flex items-center;
    & > * {
        @apply flex-1 min-w-0;
        &:not(:last-child) {
            @apply mr-4;
        }
    }
}

.vbox {
    @apply flex flex-col w-full;
    & > * {
        &:not(:last-child) {
            @apply mb-4;
        }
    }
}