@import "remixicon/fonts/remixicon.css";

@import "$src/assets/text.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-screen h-screen overflow-hidden;
}

body {
  @apply flex flex-col
  bg-gray-100 dark:bg-gray-900;
}

a,
button {
  @apply cursor-pointer;
}
