@import "remixicon/fonts/remixicon.css";

@import "./assets/text.postcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
}

body {
  @apply bg-gray-100 dark:bg-gray-900;
}
